<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.member.dao.MemberMapper">
	<!-- 회원가입 -->
	<insert id="insertMemberDetail" parameterType="memberVO">
		INSERT INTO spmember_detail (
			mem_num,
			name,
			passwd,
			phone,
			email,
			zipcode,
			address1,
			address2)
		VALUES (
			#{mem_num},
			#{name},
			#{passwd},
			#{phone},
			#{email},
			#{zipcode},
			#{address1},
			#{address2})
	</insert>
	
	<!-- 아이디 및 닉네임 중복 체크 -->
	<select id="selectIdAndNickName" parameterType="map" resultType="memberVO">
		SELECT
			*
		FROM spmember
		WHERE
		<if test="id != null and id != ''">
			id = #{id}
		</if>
		<if test="nick_name != null and nick_name !=''">
			nick_name = #{nick_name}
		</if>
		
			
	</select>
</mapper>






