<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="csrf-header" th:content="${_csrf.headerName}">
<meta name="csrf-token" th:content="${_csrf.token}">
<title layout:title-pattern="$LAYOUT_TITLE > $CONTENT_TITLE">SpringPage</title><!-- 전체 레이아웃의 타이틀 먼저 보여주고 content_title을 이후에 보여줌 -->
<link rel="stylesheet" th:href="@{/assets/css/common.css}" type="text/css">
</head>
<body>
<div id="main">
	<!-- header 시작 -->
	<div id="main_header" th:insert="fragments/header::header"></div><!-- 경로/파일명::식별자명 -->
	<!-- header 끝 -->
	<!-- 중앙 켄텐츠 시작 -->
	<div id="main_body" layout:fragment="content"></div>
	<!-- 중앙 컨텐츠 끝 -->
	<!-- footer 시작 -->
	<div id="main_footer" th:insert="fragments/footer::footer"></div>
	<!-- footer 끝 -->
</div>
</body>
</html>