<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 화면</title>
</head>
<body>
	<h2>로그인 화면</h2>
	<div th:if="${param.error}">
		<p style="color:red;">사용자명이나 비밀번호가 올바르지 않습니다.</p>
	</div>
	<!-- 로그아웃 표시 -->
	<div th:if="${param.logout}">
		<p style="color:blue;">로그아웃 했습니다.</p>
	</div>
	<form th:action="@{/authentication}" method="post" th:object="${loginForm}">
		<div>
			<label for="usernameInput">계정</label>
			<input type="text" th:field="*{usernameInput}">
		</div>
		<div>
			<label for="passwordInput">비밀번호</label>
			<input type="password" th:field="*{passwordInput}">
		</div>
		<hr size="1" noshade width="80%">
		<div>
			<input type="submit" value="로그인">
		</div>
	</form>
</body>
</html>